.background {
    background-image: url(../assests/img/mountains-clouds-1000x750.jpg);
    height: 100vh;
    background-size: cover;
}

.jumbotron {
    background: none;
}

.display-4 {
    text-align: center;
    font-size: 15vh;
    
}

.lead {
    font-size: 10vh;
}