:root {
    --blue: #0099ff;
    --gray: #6b6b47;
    --brown: #804000;
    --teal: #3798b1;
    --navy: #00001a;
    --gold: #ffd700;

    --fancyFont: 'Gloria+Hallelujah', cursive;
    --sansSerif: 'Fira Sans', sans-serif;
    --serifFont: 'Oswald', sans-serif;
    --sansSerif2: 'Acme', sans-serif;

}